<style>
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');
</style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  margin: auto;
  margin-top: 1rem;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: 7;
  width: 25rem;
  height: 40rem;
  background-color: black;
  border-radius: 20px;
  border-width: 5px;
  border-style: ridge;
  color:white;
  gap: 10px;
  padding: 15px;}


.content{
      border-radius: 50%;   
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2rem;
      width: 5rem;
      background-color: #333333;
      /* padding: 3px;
      margin: 1px; */
      cursor: pointer;
      &:hover{
        opacity: 0.8;
      }
    }

    body {
      background-color: background-color: #FBAB7E;
      background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);     
      
    }

    h1 {
      text-align: center;
      font-family: 'Geologica', sans-serif;
      margin-top: 2rem;
      color:rgb(23, 30, 2);
     
    
     

    }

    .display1 {
      grid-area: 1 / 1 / span 1 / span 4;
      height: 3rem;
    }
    .display2 {
      grid-area: 2 / 1 / span1 /span 4;
      height: 3rem;
    }
    .button19{
      grid-area: 7 / 1 / span 1/ span 2;
      border-radius: 40px;
      width: 11.5rem;
    }
    .button4 {
      text-decoration: underline;
    }
    .opr {
      background-color: #F1A33C;
    }
    .opr2{
      background-color: #A5A5A5;
      color: black;
    }

  
  
  
  
  
  
  
  